h2{
    font-family:$font;
    font-size:$S;
    font-weight:$bold;
}

p{
    font-family:$font;
    font-size:$S;
    font-weight:$regular;
}

button{
    font-family:$font;
    font-size:$M;
    font-weight:$regular;
    color:$white;
}