// FONT
$font : 'Roboto', sans-serif;

// FONT SIZE
$S : 14px;
$M : 16px;

// FONT WEIGHT
$regular : 300;
$bold : 500;

// COLORS
$white : #fff;
$grey : #DEDEDE;
$red : #FF817C;

// MARGIN
$m0 : 5px;
$m1 : 10px;
$m2 : 15px;
$m3 : 20px;

// RESPONSIVE
$tablet : 900px;
$mobile : 600px;