footer{
    background:$light;
    padding:0 0 $m4 0;
    box-sizing:border-box;
    width:100%;

    section{
        @extend %center;
        @extend %flex;
        align-items:stretch;
        justify-content:center;
        height:auto;
        overflow-x:hidden;

        article{
            width:50%;
            margin:$m4 0 0 0;

            img{
                height:100%;

                @media (max-width:$mobile){
                    display:none;
                }
            }

            &:last-child{
                background:white;
                padding:60px $m4;
                box-sizing:border-box;

                @media (max-width:$tablet){
                    padding:$m3 $m2;
                }
            }

            @media (max-width:$mobile){
                width:100%;
                margin:$m3 0 0 0;
            }
        }

        &.discover{
            flex-direction:row-reverse;
        }
    }
}