header{
    width:100%;
    height:70px;
    background:$white;
    position:fixed;
    top:0;
    left:0;
    @extend %flex;
    align-items:center;

    div{
        width:100%;
        @extend %center;
        @extend %flex;
        justify-content:space-between;
        align-items:center;

        nav{
            ul{
                li{
                    display:inline-block;
                    margin: 0 0 0 $m4;
                }
            }
        }
    }
}