// FONT
$font : 'Source Sans Pro', sans-serif;

// FONT WEIGHT
$regular : 400;
$bold : 600;

// FONT SIZE
$S : 14px;
$M : 20px;
$L : 28px;

// COLORS 
$green : #4ccf81;
$red : #e82936;
$background : #fafbfc;
$title : #011f3f;
$picto : #d1dbe2;
$grey : #777f88;
$border : #f0f3f4;
$dev : #FF8764;
$design : #96E3DB;
$marketing : #003567;

// MARGIN
$m1 : 5px;
$m2 : 10px; 
$m3 : 15px;
$m4 : 25px;
$m5 : 50px;

// RADIUS 
$radius : 4px;