h1{
    color:$black;
    text-transform:uppercase;
    font-size:$xl;
}

.left{
    p{
        margin:$m1 0 0 0;
        font-size:$s;
    }
}

.right{
    article{
        h2{
            color:$black;
            font-size:$s;
            text-transform:uppercase;
        }

        p{
            margin:$m1 0 0 0;
            font-size:$s;
        }

        &:nth-child(2n + 1){
            h2{
                color:$red;
            }

            p{
                color:$white;
            }
        }
    }
}