// FONT
$font : "Arial", sans-serif;

$s : 14px;
$xl : 40px;

// COLORS 
$white : #fff;
$light : #eee;
$dark : #757575;
$black : #263238;
$red : #e53935;

// MARGIN
$m1 : 20px;
$m2 : 50px;

// RESPONSIVE 
$tablet : 1000px;
$mobile : 600px;
