* {
  margin: 0;
  padding: 0; }

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500; }

p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300; }

button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff; }

body {
  display: flex;
  flex-wrap: wrap; }

body {
  width: 100%;
  height: auto;
  background: #DEDEDE; }

section {
  width: calc(25% - 20px);
  height: auto;
  margin: 10px; }
  section article {
    width: 100%; }
    section article:first-child {
      position: relative; }
      section article:first-child img {
        width: 100%; }
    section article button {
      position: absolute;
      right: 10px;
      bottom: -5px;
      padding: 5px 15px;
      box-sizing: border-box;
      background: #FF817C;
      border: none;
      z-index: 2; }
    section article:last-child {
      background: #fff;
      padding: 20px 15px;
      box-sizing: border-box;
      transform: translateY(-3px);
      z-index: 0; }
  @media (max-width: 900px) {
    section {
      width: calc(50% - 20px); } }
  @media (max-width: 600px) {
    section {
      width: calc(100% - 20px); } }
