li{
    text-transform:uppercase;
    font-weight:$bold;
    font-size:$S;
    letter-spacing:1px;
    cursor:pointer;

    &:hover{
        text-decoration:underline;
    }
}

h1,
h2, 
h3{
    font-size:$L;
    font-weight:$bold;
    text-align:center;
    letter-spacing:1.5px;
}

h1{
    width:60%;
    margin:auto;

    @media(max-width:$tablet){
        width:100%;
    }
}

h3{
    text-align:left;  
}

p{
    font-size:$M;
    text-align:justify;
    font-weight:$regular;
    margin:$m2 0 0 0;
    letter-spacing:1.5px;
    line-height:20px;
}

.info p{
    font-size:$M;
    font-weight:$regular;
    text-align:center;
    color:$grey;
    margin:0;

    b{
        color:black;
    }
}

p.sub{
    color:$grey;
    margin:$m2 0 $m4 0;
}

button{
    display:block;
    background:$green;
    padding:15px $m3;
    box-sizing:border-box;
    font-size:$M;
    color:white;
    font-weight:$regular;
    letter-spacing:1.5px;
    border:none;
    margin:$m4 auto 0 auto;
    border:solid 2px $green;
    cursor:pointer;

    &:hover{
        background:$white;
        color:$green;
    }
}