// FONT
$font : 'Raleway', sans-serif;

// FONT WEIGHT
$regular : 300;
$bold : 600;

// FONT SIZE 
$S : 10px;
$M : 14px;
$L : 34px;

// COLORS 
$grey : #999;
$light : #E6E6E6;
$green : #8BC058;

// MARGIN 
$m1 : 10px;
$m2 : 20px;
$m3 : 50px;
$m4 : 100px;

// RESPONSIVE 
$tablet : 1000px;
$mobile : 700px;