// FONT
$title : 'Amatic SC', cursive;
$text : 'Raleway', sans-serif;

// FONT SIZE 
$S : 16px;
$L : 40px;
$XL : 100px;

// COLORS
$white : #fff;
$light : #f2bf97;
$dark : #333;

// RESPONSIVE
$tablet : 1000px;